# Google C/C++ Code Style settings
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# Author: Kehan Xue, kehan.xue (at) gmail.com

Language: Cpp
BasedOnStyle: Google
ReferenceAlignment: Left
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
TabWidth: '4'
UseTab: Never
IndentWidth: '4'
AccessModifierOffset: '-4'
ConstructorInitializerIndentWidth: '4'